@use "../abstracts";
@use "../base";
@use "input";
@use "icon";
@use "button";
@use "display";

.task {
  &__head {
    padding: 14px 20px;
    @include display.flex(row, 0);
    @include display.flex-justify(space-between, center);
    border-radius: 5px;

    @include abstracts.breakpoints(576px) {
      padding: 24px 32px;
    }

    &__main {
      @include display.flex(row, 10px);
      align-items: center;

      input[type="checkbox"] {
        @include input.input__tick;

        &:checked + input[type="name"] {
          text-decoration: line-through;
        }
      }

      input[type="name"] {
        @include input.input-title;
        @include base.title;
        background-color: transparent;
      }
    }

    &__icon {
      @include display.flex(row, 0);

      .collect-button,
      .edit-button {
        @include button.button--transparent;
        i {
          @include icon.icon_basic;
          @include icon.icon_justify(4px);
        }
      }

      .collect-button {
        i {
          &:active {
            color: base.$collect_color;
          }
        }
      }
      .edit-button {
        i {
          color: base.$primary;
          &:active {
            color: initial;
          }
        }
      }
    }
  }
}

// icon card

.status__detail {
  @include display.flex(row, 10px);
  @include display.flex-justify(flex-start, center);
  position: relative;
  padding: 0 59px 10px 59px;
  color: base.$body_bg--dark;
  border-radius: 5px;

  @include abstracts.breakpoints(576px) {
    padding: 0 72px 17px 72px;
  }

  i {
    font-size: 18px;
  }

  &__date {
    @include display.flex(row, 5px);

    p {
      margin: 0;
      font-size: 14px;
    }
  }

  &__file {
    @include display.flex(row, 5px);
  }

  &__comment {
    @include display.flex(row, 5px);
  }
}
