@use '../base';
@use 'display';

// layout

.list {
  margin-top: 20px;

  &__status {
    padding: 20px 32px;
    @include display.flex(column, 10px);
    
    & + .list__status {    
      margin-top: 10px;
    }
  }
  .task__body__title {
    padding: 0;
    border: 1px solid transparent;
    // initial the .task value  
  }
}


