@use "../base";
@use "display";
@use "button";

// layout

.list {
  margin-top: 20px;

  .task {
    &__head {
      &__main {
        label {
          @include base.subtitle;
        }
      }
    }

    &__status {
      @include display.flex(row, 0);
      .add {
        @include button.button--success;
      }
      .cancel {
        @include button.button--fail;
      }
    }
  }

  &__status {
    padding: 20px 32px;
    @include display.flex(column, 10px);

    & + .list__status {
      margin-top: 10px;
    }
  }
}
