@use "../abstracts";
@use "../base";
@use "input";
@use "icon";
@use "display";

.task {
  &__head {
    @include display.flex(row, 0);
    @include display.flex-justify(space-between, center);

    &__main {
      @include display.flex(row, 15px);

      input[type="checkbox"] {
        @include input.input__tick;
      }
      input[type="name"] {
        @include input.input-title;
      }
    }

    &__icon {
      @include display.flex(row, 20px);

      .collect_icon,
      .edit_icon {
        i {
          @include icon.icon_basic;
          @include icon.icon_justify(4px);
        }
      }

      .collect_icon {
        i {
          &:active {
            color: base.$form_bg--dark;
          }
        }
      }
      .edit_icon {
        i {
          color: base.$primary;
          &:active {
            color: initial;
          }
        }
      }
    }

    &_border {
      padding: 28px 32px;
      border-bottom: 2px base.$body_bg solid;
    }
  }
}

// icon card

.icon-card {
  @include display.flex(row, 10px);
  @include display.flex-justify(flex-start, center);
  position: relative;
  margin-left: 40px;
  color: base.$body_bg--dark;
}
