@use '../base';
@use 'display';


.task {
  margin-top: 22px;

  @include display.flex(column, 0);
  
  border-radius: 10px;
  background-color: base.$body_bg--light;

  // &__body {
  //   @include display.flex(column, 0);

  //   border-radius: 30px;
  // }
}