@use '../abstracts';
@use '../base';
@use 'input';
@use 'icon';
@use 'display';

.task {
  &__body {

    &__title {
      padding: 28px 32px;
      @include display.flex(row, 0);
      @include display.flex-justify(space-between, center);

      border-bottom: 2px base.$body_bg solid;
      
      .title_box {
        @include display.flex(row, 20px);

        input[type="checkbox"] {
          @include input.input__tick;
        } 
        h2 {
          @include base.subtitle;
        }
      }
      .icon_box {
        @include display.flex(row, 20px);

        .collect_icon, .edit_icon {
          i {
            @include icon.icon_basic;
            @include icon.icon_justify(4px);
          }        
        }

        .collect_icon {
          i {
            &:active  {       
            color: base.$form_bg--dark;                    
            }
          }
        }
        .edit_icon {
          i {
            color: base.$primary;
            &:active {
              color: initial;
            }
          }
        }
      }
    }
  }
}