@use "../base";

.collect-mode {
  background-color: base.$collect_bg;
}

.collect-color {
  color: base.$collect_color;
}

.folded {
  display: none;
}

.radius {
  border-radius: 5px;
}

.open-border {
  border-bottom: 2px base.$body_bg solid;
}

.task-body-top-border {
  border-top: 2px base.$body_bg solid;
}
