a {
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

.list {
  margin-top: 20px;
  border-radius: 10px;
}
.list li + li {
  margin-top: 10px;
}
.list .task__body__title {
  background-color: #f2f2f2;
  border: 1px solid transparent;
  border-radius: 5px;
}
.list .task__body__title:first-of-type, .list .task__body__title:nth-of-type(2) {
  background-color: #FFF2DC;
}
.list .task__body__title:first-of-type .icon_box .collect_icon i, .list .task__body__title:nth-of-type(2) .icon_box .collect_icon i {
  color: #F5A623;
}
.list .task__body__title:first-of-type .icon_box .edit_icon i, .list .task__body__title:nth-of-type(2) .icon_box .edit_icon i {
  color: initial;
}
.list .task__body__title:first-of-type .icon_box .edit_icon i:active, .list .task__body__title:nth-of-type(2) .icon_box .edit_icon i:active {
  color: #4A90E2;
}

.task {
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  gap: 0;
  border-radius: 10px;
  background-color: #f2f2f2;
}
.task__body {
  display: flex;
  flex-direction: column;
  gap: 0;
  border-radius: 30px;
}

.task__body__title {
  padding: 28px 32px;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px #c8c8c8 solid;
}
.task__body__title .title_box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.task__body__title .title_box input[type=checkbox] {
  appearance: none;
  height: 24px;
  width: 24px;
  background-color: white;
  border: 0.15em solid white;
  display: flex;
  align-items: center;
}
.task__body__title .title_box input[type=checkbox]::before {
  content: "";
  height: 20px;
  width: 20px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  background-color: #4A90E2;
}
.task__body__title .title_box input[type=checkbox]:checked::before {
  transform: scale(1);
}
.task__body__title .title_box h2 {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.task__body__title .icon_box {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.task__body__title .icon_box .collect_icon i, .task__body__title .icon_box .edit_icon i {
  cursor: pointer;
  font-size: 20px;
  position: relative;
  top: 4px;
}
.task__body__title .icon_box .collect_icon i:active {
  color: #F5A623;
}
.task__body__title .icon_box .edit_icon i {
  color: #4A90E2;
}
.task__body__title .icon_box .edit_icon i:active {
  color: initial;
}

.task__body__detail {
  padding: 28px 96px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.task__body__detail .date {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.task__body__detail .date h3 {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  position: relative;
}
.task__body__detail .date h3::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  position: absolute;
  left: -25px;
  content: "\f073";
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}
.task__body__detail .date__input {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}
.task__body__detail .date__input input {
  margin-top: 10px;
  height: 35px;
  width: 100%;
}
.task__body__detail .date__input input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  color: #c8c8c8;
}
@media (min-width: 768px) {
  .task__body__detail .date__input input {
    width: 162px;
  }
}
.task__body__detail .file {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.task__body__detail .file h3 {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  position: relative;
}
.task__body__detail .file h3::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  position: absolute;
  left: -25px;
  content: "\f15b";
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
}
.task__body__detail .file label {
  margin-top: 10px;
  color: #c8c8c8;
  cursor: pointer;
}
.task__body__detail .file label i {
  font-size: 30px;
}
.task__body__detail .file input {
  display: none;
}
.task__body__detail .comment {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.task__body__detail .comment h3 {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  position: relative;
}
.task__body__detail .comment h3::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  position: absolute;
  left: -25px;
  content: "\f4ad";
  font-family: "Font Awesome 5 Free";
  font-weight: 300;
}
.task__body__detail .comment textarea {
  resize: none;
  margin-top: 10px;
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .task__body__detail .comment textarea {
    height: 120px;
  }
}
.task__body__detail .comment textarea::placeholder {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 0;
  color: #c8c8c8;
}

.task__body__status {
  display: flex;
  flex-direction: row;
  gap: 0;
}
.task__body__status .cancel {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  height: 60px;
  width: 310px;
  border: 1px transparent solid;
  background-color: #ffffff;
  color: #D0021B;
}
.task__body__status .cancel p {
  margin: 0;
  display: none;
}
@media (min-width: 576px) {
  .task__body__status .cancel p {
    display: block;
  }
}
.task__body__status .cancel i {
  position: relative;
  top: -2px;
  font-size: 20px;
}
.task__body__status .add {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 310px;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  background-color: #4A90E2;
  color: #ffffff;
  border: 1px transparent solid;
}
.task__body__status .add p {
  margin: 0;
  display: none;
}
@media (min-width: 576px) {
  .task__body__status .add p {
    display: block;
  }
}
.task__body__status .add i {
  position: relative;
  top: -3px;
  font-size: 30px;
}

header {
  background-color: #4A90E2;
}

body {
  background-color: #E1E1E1;
}

@media (min-width: 768px) {
  .container {
    max-width: 620px;
  }
}

.container .navbar {
  background-color: #4A90E2;
}
.container .navbar .container-fluid button {
  padding: 10px;
}
.container .navbar .container-fluid .navbar-collapse {
  justify-content: unset;
}
.container .navbar .container-fluid .navbar-collapse .navbar-nav {
  width: 100%;
}
.container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item {
  flex: 1 0 0;
  text-align: left;
}
.container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #ffffff;
}
@media (min-width: 768px) {
  .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link.active {
    border-bottom: 3px solid #00408B;
  }
}
.container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
  padding: 15px 20px;
  color: #00408B;
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  text-align: left;
}
@media (min-width: 768px) {
  .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
    text-align: center;
  }
}
.container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  border: none;
}
@media (min-width: 768px) {
  .container .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 3px solid #00408B;
  }
}

/*# sourceMappingURL=style.css.map */
