$primary: #4A90E2;
$primary--dark: #00408B;

$body_bg--light: #f2f2f2;
$body_bg: #c8c8c8;
$body_bg--dark: #757575;

$form_bg--light: #FFF2DC;
$form_bg--dark: #F5A623;

$checked: #D0021B;

$font--hover: #ffffff;
$font--light: #E1E1E1;
$font: #000000;

