$primary: #4a90e2;
$primary--dark: #00408b;

$body_bg--light: #f2f2f2;
$body_bg: #c8c8c8;
$body_bg--dark: #757575;

$collect_bg: #fff2dc;
$collect_color: #f5a623;

$checked: #d0021b;

$font--hover: #ffffff;
$font--light: #e1e1e1;
$font: #000000;
